/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*bootstrap適応*/
@import "bootstrap-sprockets";
@import "bootstrap";




/*header部分の余白を指定*/
body {
	padding-top: 48px;
	font-family: Comic Sans MS,"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.navbar-brand {
	height: 50px;
	padding-top: 3px;
}

.btn-text-3d {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #799dec;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}

.btn-text-3d:active {
  top: 4px;
  text-shadow: none;
}

.btn-text-3d:hover {
	background-color: maroon !important;
}

.container-fluid {
	background-color: maroon;
	height: 48px;
	margin-bottom: 32px;
}

.nav

.link-btn {
	margin-left: 180px;
}

.admin-menu {
	position: absolute;
	right: 20px;
	top: 8px;
}

.navbar-right {
	margin-right: 10px;
	margin-top: 8px;
}

a.btn-text-3d { color: white; }

.text-center {
	text-align: center;
}

.navbar {
	margin-bottom: none !important;
}

input[type="number"] {
        width: 45px;
        height: 20px;
        border-radius: 4px;
    }

.form-group {
	margin-bottom: 50px;
}

.shadow-box {
	box-shadow:0px 0px 10px;
    border:1px solid #000;
    padding: 30px;
    margin: 50px 0px;
}

.float {
	float: left;
	margin-right: 35px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.search .search-label{
	padding-left: 10px;
}

.search .selectbox{
	padding-top: 10px;
}

.search .field{
	width: 45%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search .search-btn{
	width: 12%;
}

.search .input-group-btn{
	display: inline-block;
	position: relative; right: 4px;
}

.table-title {
	font-size: 20px;
}

.table-body {
	font-size: 16px;
}





