// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//new-reviewページ 
.review-table {
 	margin-top: 50px;
}

.new-review-title {
	margin: 30px auto;
}

.show-review-title {
	margin: auto;
	margin-left: 70px;
}

.review-user {
	border-bottom: solid 5px;
	border-color: gray;
	margin-bottom: 30px;
}

.review-info {
	margin-left: 30px;
	color: gray;
}

.favorite {
	position: relative;
	left: 100px;
	font-size: 16px;
	font-weight: bold;
}

.game-image {
	margin-left: 38%;
}