<div class="container">

	<div class="row text-center shadow-box">
       <h2>お問い合わせありがとうございました。</h2>
       <h2>確認後、対応させていただきます。</h2>
    </div>

</div>
<%= render 'games/modal_dialog', search: @search %>