<body class="back-image">
<div class="container">

	<div class="row text-center shadow-box white thanks-message">

		<dev class="col-lg-2">
		</dev>

		<div class="col-lg-8">
	       <h3>お問い合わせありがとうございました！</h3>
	       <h3>確認後、対応させていただきます。</h3>
       </div>

       <dev class="col-lg-2">
	   </dev>

    </div>

</div>
</body>
<%= render 'games/modal_dialog', search: @search %>