<div class="container">

	<div class="row text-center shadow-box">
       <h3>お問い合わせありがとうございました。</h3>
       <h3>確認後、対応させていただきます。</h3>
    </div>

</div>
<%= render 'games/modal_dialog', search: @search %>